header {
    margin-left: 1100px;

}

.principal{
    padding-top: 140px;
    margin-left: 555px;
}

.search-bar {
    width: 33%;
    display: block;
}

.button {
    padding: 10px 10px 10px 10px;
}

